@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  font-family: 'Comfortaa', cursive ;
  color: #ffffff;
}

.c-1{
  color: #333647;
}
.bg-1{
  background-color: #333647;
}
.c-2{
  color: #333647;
}
.bg-2{
  background-color: #333647;
}
.c-2{
  color: #666874;
}
.bg-2{
  background-color: #666874;
}
.c-3{
  color: #fdc25a;
}
.bg-3{
  background-color: #fdc25a;
}
.c-4{
  color: #888b94;
}
.bg-4{
  background-color: #888b94;
}



